.testimonials {
   text-align: center;
   letter-spacing: $body-letter-spacing;
   &__title {
      @include section-title;
   }
   &__body {
      @media (--tablet) {
         text-align: left;
      }
   }
   &__quote {
      color: $gray;
      padding-bottom: 22px;;
   }
   &__citation {
      padding-bottom: 22px;
   }
}